/* header */
header{display: flex;flex-direction: column;padding: 15px;width: 100%; height: 101px;position: fixed;top: 0;left: 0;
            background-color: #fff;z-index: 9999;}
.header_top{display: flex;justify-content: space-between;}
.header_1{font-weight: bold;}
.header_2{font-size: 15px;font-weight: bold;}
.header_2 i{display: inline-block;margin-left: 5px;}

.header_bottom{display: flex;justify-content: space-between;position: relative;margin-top: 30px;}
.header_03{font-size: 25px;font-weight: bold;}
.header_04 i{padding-left: 10px;font-size: 22px;font-weight: 700;
    transition: all 0.3s linear 0s;}
.header_04 i:hover{transform: scale(1.2);}
