.member{width: 100%;display: flex;justify-content: space-between;}
.member_list{display: flex;justify-content: space-between;}
.member span{color: #888;background-color: #eee;margin: 18px 0;line-height: 22px;padding: 0 10px;border-radius: 14px;}